H1{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 450px;
  color: white
}
body {
background-color: black;
}
form{
  color: white;
  font-size: 30px;
}
.submit_button{
  margin-left: 20px;
  width: 250px;
  height: 40px;
  font-size: 30px;
}

.img1{
  padding-left: 100px;
}
.img2{
  padding-left: 250px;
}
.img3{
  padding-left: 300px;
  padding-bottom: 50px;
}
.sign_in{
  background-image: url(Background_pattern_sign_in.png);
}
.sign_up{
  background-image: url(Background_pattern_sign_up.png);
}
.sign_up_text{
  padding-left: 570px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-size: 30px;
}
.sign_in_form{
  margin-left: 230px;
}
.sign_up_form{
  margin-left: 300px;
}

.bar_red{
  float: left;
  padding-left: 30px;
  height: 10px;
  width: 1470px;
  background-color: red;
  border-radius: 20px;
}

.bar_blue{
  float: left;
  padding-left: 30px;
  height: 10px;
  width: 1470px;
  background-color: blue;
  border-radius: 20px;
}
