H1{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white
}
body {
background-color: black;
}
form{
  color: white;
  font-size: 30px;
}
table{
  margin-left: 20%;
}
.submit_button{
  margin-left: 20px;
  width: 250px;
  height: 40px;
  font-size: 30px;
}

.img3{
  padding-left: 50%;
  padding-bottom: 50px;
}
.sign_up{
  background-image: url(Background_pattern_sign_up.png);
}
.sign_up_text{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-size: 30px;
}

.bar_blue{
  float: left;
  padding-left: 40px;
  height: 10px;
  width: 97%;
  background-color: blue;
  border-radius: 20px;
}
