/* Main background of the webpage fixed and disabled scrolling */
body {
background-image: url(Mario_Background.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 100%;
height: 100%;
overflow: hidden;
}

/* Color,font, and size of the text in the form */

form{
  color: #b7950b;
  font-size: 1.7rem;
  font-family: 'Bungee Inline', cursive;
}

table{
  margin-left: 15%;
}

/* Design of the form fields */

input[type="text"], textarea {
  margin-top: 20px;
  background-color : black;
  color: #b7950b;
}

.inputData input{
  border-color: #b7950b;
  border-style: solid;
  border-radius: 10px;
  height: 30px;
  margin-left: 90%;
  font-family: 'Bungee Inline', cursive;
}

.inputData label{
  position: absolute;
}

/* Design of the title of the page */

.Welcome{
  margin-top: 5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  font-size: 1.7rem;
  color: #b7950b;
  text-shadow: 0 0 25px #FF0000, 0 0 29px #0000FF;
}

/* Gold bar outlining the sign up portion */

.bar_gold{
  float: left;
  padding-left: 40px;
  height: 10px;
  width: 97%;
  background-color: #b7950b;
  border-radius: 20px;
}

/* Sign up portion of the website */


.sign_up{
  background-image: url(Background_pattern_sign_up.png);
  opacity: .6;
  width: 100%;
  min-width: 100%;
  position: center;
  transition: .5s ease-in-out;
}

/* When the mouse hovers over the sign up portion, it will become clear */

.sign_up:hover{
  opacity: 1.0;
}

/* Yellow toad image positioning */

.img3{
  margin-left: 35rem;
  margin-bottom: 2rem;
}

/* Submit button Design*/

.submit_button{
  margin-left: 82%;
  width: 250px;
  height: 70px;
  font-size: 30px;
}

.submit_design {
color: #fff !important;
text-transform: uppercase;
background: #b7950b;
border-radius: 50px;
display: inline-block;
border: none;
transition: all 0.4s ease-in-out;
font-family: 'Bungee Inline', cursive;
}

.submit_design:hover {
  text-shadow: 4px 4px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 4px 3px 50px -5px rgba(255,0,0);
  -moz-box-shadow: 0px 5px 40px -10px rgba(136,0,0);
  cursor: pointer;
}

/* Navbar from Home Page */

ul {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  list-style: none;
}

ul li a {
  font-family: 'Bungee Inline', cursive;
  font-size: 1.7rem;
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #b7950b;
}

ul li a:before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 1px solid yellow;
  transition: all 500ms ease-in-out;
  opacity: 0;
}

a:hover{
  text-shadow: 0 0 25px #FF0000, 0 0 29px #0000FF;
}
