/*Creating the margins of the Team Members page*/
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*Aligning the texts to the center of the page*/
.team-section{
  overflow: hidden;
  text-align: center;
  background: #34495e;
  padding: 60px;
}
/*Making the text for the individual biographies white uppercase*/
.team-section h1{
  margin-top: 80px;
  text-transform: uppercase;
  margin-bottom: 80px;
  color: white;
  font-size: 40px;
}
/*Creating borders and heights for the sections of the page*/
.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;
}
/*Creating the bottom margin of the page*/
.ps{
  margin-bottom: 60px;
}
/*Creating the radius for the borders of the page*/
.ps a{
  display: inline-block;
  margin: 0 30px;
  width: 180px;
  height: 170px;
  overflow: hidden;
  border-radius: 10%;
  transition: 0.6s;
}
/*Creating the dimensions and style of the Team Members image*/
.ps a img{

  height: 100%;
  width: 100%;
  filter: grayscale(100);
  transition: 0.4s all;
  overflow: hidden;
}
/*Creating a hovering style for the image*/
.ps a:hover > img{
  filter: none;
}
/*This section aligns the text for the Team Members biography*/
.section{
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
  }
  /*Targeting the Team Members biography automatically*/
  .section:target{
    height: auto;
  }
  /*Centering the individual name of Team Members using uppercase*/
  .name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
  }
    /*kinda like layering*/
  p{
    z-index: 1;
  }

  /*Style of a Navbar from Home Page*/

  ul {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  font-family: 'Bungee Inline', cursive;
  font-size: 2rem;
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #b7950b;
}

ul li a:before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 1px solid yellow;
  transition: all 500ms ease-in-out;
  opacity: 0;
}

a:hover{
  text-shadow: 0 0 25px #FF0000, 0 0 29px #0000FF;
}

 img:hover
{
  width: 300px;
  height: 300px;
}

.a:hover{
   transition: all 600ms ease-in-out;
  display: inline-block;
  margin: 0 5px;
  width: 250px;
  height: 230px;
  overflow: hidden;
  border-radius: 10%;
}
