//Creating the margins of the Team Members page//
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
//Aligning the texts to the center of the page//
.team-section{
  overflow: hidden;
  text-align: center;
  background: #34495e;
  padding: 60px;
//Making the text for the individual biographies white uppercase//
}
.team-section h1{
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
//Creating borders and heights for the sections of the page//
}
.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;
}
//Creating the bottom margin of the page//
.ps{
  margin-bottom: 40px;
}
//Creating the radius for the borders of the page//
.ps a{
  display: inline-block;
  margin: 0 30px;
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 10%;
}
//Creating the dimensions and style of the Team Members image
.ps a img{
  height: 100%;
  width: 100%;
  filter: grayscale(100);
  transition: 0.4s all;
}
//Creating a hovering style for the image//
.ps a:hover > img{
  filter: none;
}
//This section aligns the text for the Team Members biography//
.section{
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
  }
  //Targeting the Team Members biography automatically//
  .section:target{
    height: auto;
  }
  //Centering the individual name of Team Members using uppercase//
  .name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
  }
  //kinda like layering//
  p{
    z-index: 1;
  }
}
