*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.team-section{
  overflow: hidden;
  text-align: center;
  background: #34495e;
  padding: 60px;
}
.team-section h1{
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
}
.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;
}
.ps{
  margin-bottom: 40px;
}
.ps a{
  display: inline-block;
  margin: 0 30px;
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 10%;
}
.ps a img{
  height: 100%;
  width: 100%;
  filter: grayscale(100);
  transition: 0.4s all;
  overflow: hidden;
}
.ps a:hover > img{
  filter: none;
}
.section{
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
  }
  .section:target{
    height: auto;
  }
  .name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
  }
  p{
    z-index: 1;
  }
