body, html{
  height:100%;
    margin:0;
  font-size:14px;
  font-family:"Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1{
  background-image:url("Super-Mario.jpg");
  height:100%;
  z-index: -1;
}

.pimg2{
  background-image: url("shigeru-miyamoto-mario.jpg");
  min-height:400px;
}
.pimg3{
  background-image: url("Super Mario HD.jpg");
  min-height: 400px;
}
.section{
  text-align:center;
  padding: 50px 80px;
}

.section-light{
  background-color: #f4f4f4;
  color:#666;
}

.section-dark{
  background-color: #282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%
  text-align:center;
  color:#000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border{
  background-color: #111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color: transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment: scroll;
  }
}
/*Navbar Style from Home Page*/
ul {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
font-family: 'Bungee Inline', cursive;
  font-size: 2rem;
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #b7950b;
  
}

ul li a:before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 1px solid yellow;
  transition: all 500ms ease-in-out;
  opacity: 0;
}

ul li a:hover:before {
  opacity: 0;
  width: 100%;
  
}
a:hover{
  text-shadow: 0 0 25px #FF0000, 0 0 29px #0000FF;
}